*{
    padding: 0;
    margin: 0;
    font-family: POPPINS;
    box-sizing: border-box;
  }
  ::selection {
    /* Change highlight background color to black */
    background: #292929;
    /* Change highlight text color to red */
    color: #ffa31a;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #888;
  }
  body {
      background: #F5F5F5;
    }
    .logo{
      position: fixed;
      top: 3%;
      left: 2%;
    }
    .logo img{
      width: 100px;
    }
    .button_container {
      position: fixed;
      top: 5%;
      right: 2%;
      height: 27px;
      width: 35px;
      cursor: pointer;
      transition: opacity .25s ease;
      z-index: 1000;
    }
    .button_container:hover {
      opacity: .7;
    }
    .button_container.active .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #FFF;
    }
    .button_container.active .middle {
      opacity: 0;
      background: #FFF;
    }
    .button_container.active .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #FFF;
    }
    .button_container span {
      background: black;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer;
      
    }
    .button_container span:nth-of-type(2) {
      top: 11px;
    }
    .button_container span:nth-of-type(3) {
      top: 22px;
    }
    
    .overlay {
      position: fixed;
      background: black;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      z-index: 999;
    }
    .overlay.open {
      opacity: .9;
      visibility: visible;
      height: 100%;
  
    }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
    }
    .overlay.open li:nth-of-type(2) {
      animation-delay: .4s;
    }
    .overlay.open li:nth-of-type(3) {
      animation-delay: .45s;
    }
    .overlay.open li:nth-of-type(4) {
      animation-delay: .50s;
    }
    .overlay nav {
      position: relative;
      height: 60%;
      top: 37%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: 'Varela Round', serif;
      font-weight: 400;
      padding-left: 50px;
    }
    .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
    }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
    }
    .overlay ul li a {
      display: inline-block;
      position: relative;
      color: #FFF;
      text-decoration: none;
      overflow: hidden;
    }
    .overlay ul li a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 0%;
      height: 1.5px;
      background: #FFF;
      transition: .35s;
    }
    
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
      width: 100%;
      left: 0%;
      right: auto;
    }
    .overlay ul li a:hover{
      color: #ffa31a;
    }
    
    @keyframes fadeInRight {
      0% {
        opacity: 0;
        bottom: 20%;
      }
      100% {
        opacity: 1;
        bottom: 0;
      }
    }

    #button {
      display: inline-block;
      background-color: #FF9800;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      transition: background-color .3s, 
        opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
    }
    #button::after {
      content: "\f062";
      font-family: FontAwesome;
      font-style: normal;
      font-size: 16px;
      line-height: 50px;
      color: #fff;
    }
    #button:hover {
      cursor: pointer;
      background-color: #333;
    }
    #button:active {
      background-color: #555;
    }
    #button.show {
      opacity: 1;
      visibility: visible;
    }
    
    section {

      width: 95%;
      display: grid;
      place-items: center;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .section-heading{
      font-weight: 600;
      font-size: 62px;
    }
    .column {
      width: 100%;
      padding: 30px 20px;
      text-align: center;
    }
    .card {
      width: 100%;
      height: 100%;
      padding: 2em 1.5em;
      background: linear-gradient(#ffffff 50%, black 50%);
      background-size: 100% 200%;
      background-position: 0 2.5%;
      border-radius: 5px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: 0.5s;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #1f194c;
      margin: 1em 0;
    }
    p {
      color: #575a7b;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0.03em;
    }
    .icon-wrapper {
      background-color: #FF9800;
      position: relative;
      margin: auto;
      font-size: 30px;
      height: 2.5em;
      width: 2.5em;
      color: #ffffff;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: 0.5s;
    }
    .card:hover {
      background-position: 0 100%;
    }
    .card:hover .icon-wrapper {
      background-color: #ffffff;
      color: black;
    }
    .card:hover h3 {
      color: #ffffff;
    }
    .card:hover p {
      color: #f0f0f0;
    }
    @media screen and (min-width: 768px) {
      section {
        padding: 0 2em;
      }
      .column {
        flex: 0 50%;
        max-width: 50%;
      }
    }
    @media screen and (min-width: 992px) {
      section {
        padding: 1em 3em;
      }
      .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }

    footer{
        width: 85%;
        margin: auto;
        padding-bottom: 70px;
      }
      footer a{
        color: black;
        text-decoration: none;
      }
      .footer-container{
        display: flex;
        justify-content: space-between;
      }
      .fC h1{
        font-size: 32px;
  
      }
      .h1-fC-p{
        margin-top: 10px;
        font-size: 14px;
        line-height: 26px;
        color: #727a86;
      }
      .fC h2{
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 15px;
      }
      .fc-icons {
        display: flex;
        align-items: center;
      }
      
      .fc-icons i {
        font-size: 20px;
        margin-right: 20px;
        background-color: rgb(243, 246, 250);
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      footer hr{
        margin-top: 50px;
        margin-bottom: 10px;
      }
      #fC2 p,#fC3 p,#fC4 p{
        margin-top: 5px;
      }
      .footer-foot{
        display: flex;
        justify-content: space-between;
      }
      .footer-foot-1{
        opacity: 0.7;
      }
      .footer-foot-2{
        display: flex;
      }
      .footer-foot-2 p{
        padding-left: 20px;
      }

      @media screen and (max-width: 767px) {
        .logo{
            top: 3%;
            left: 4%;
          }
          .footer-container{
            flex-direction: column;
          }
          #fC1,#fC2,#fC3{
            margin-bottom: 20px;
          }
          .footer-foot{
            flex-direction: column-reverse;
          }
          .footer-foot-1{
          }
          .img-gallery{
            display: none;
          }
          .footer-foot-1 p{
    
            font-size: 16px;
          }
          .footer-foot-2 p{
            margin-top: 5px;
            font-size: 14px;
            padding-right: 15px;
            padding-left: 0px;
            margin-bottom: 10px;
          }
          footer{
            padding-top: 30px;
          }
          .section-heading{
              font-size: 42px;
          }
          
    
    }